@page "/customers"
@inject NavigationManager NavigationManager

@using FontesBank.Data
@inject UserService service
@inject IUserService _date


<h3>Customers</h3>

<hr />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Select</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ctm in customers)
        {
            <tr>
                <td>@ctm.Name</td>
                <td>@ctm.Email</td>
                <td>
                    <button type="button" class="btn btn-primary" @onclick="Details">
                        Select
                    </button>
                </td>
            </tr>
        }

    </tbody>
</table>

@code {

    private List<Customer> customers = new List<Customer>();


    protected override async Task OnInitializedAsync()
    {
        customers = await service.GetForecastAsync();
    }

    public class Customer
    {
        public string Name { get; set; }
        public string Email { get; set; }
        public DateTime BirthDate { get; set; }
        public int CurrentBalance { get; set; }
        public string Address { get; set; }
    }

    private void Details()
    {
        NavigationManager.NavigateTo("customerDetails");
    }
}