@page "/customers"
@inject NavigationManager NavigationManager

@using Data
@using FontesBank.Models
@using Microsoft.Extensions.Configuration
@inject IUserService _user
@inject IConfiguration _config


<h3>Customers</h3>

<hr />

<div class="col-md-8">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Select</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ctm in user)
            {
                <tr>
                    <td>@ctm.Name</td>
                    <td>@ctm.Email</td>
                    <td>
                        <button type="button" class="btn btn-primary" @onclick="Details">
                            Select
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@code {

    List<UserModel> user;

    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from fontesbank.users";
        user = await _user.LoadData<UserModel, dynamic>(sql, new { }, _config.GetConnectionString("default"));
    }


    private void Details()
    {
        NavigationManager.NavigateTo("customerDetails");
    }
}