@page "/customers"
@inject NavigationManager NavigationManager

@using Data
@using FontesBank.Models
@using Microsoft.Extensions.Configuration
@inject IUserService _user
@inject IConfiguration _config


<h3>Customers</h3>

<hr />

<div class="col-md-8">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Current Balance</th>
                <th scope="col">Select</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ctm in users)
            {
            <tr>
                <td>@ctm.Name</td>
                <td>@ctm.Email</td>
                <td>@ctm.CurrentBalance</td>
                <td>
                    <button type="button" class="btn btn-primary" @onclick="() => Details(ctm.Id)">
                        Select
                    </button>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>

@code {

    List<UserModel> users;

    protected override async Task OnInitializedAsync()
    {
        users = await _user.GetUsers();
    }


    private void Details(int id)
    {
        NavigationManager.NavigateTo("customers/" + id);
    }
}