@page "/"
@inject NavigationManager NavigationManager

<h1>
    Welcome to Fontes Bank!
</h1>
<hr />

<div class="col-md-12">

    <button type="button" class="btn btn-primary" @onclick="ViewCustomers">
        View all Customers
    </button>

</div>


@code {
    private void ViewCustomers()
    {
        NavigationManager.NavigateTo("customers");
    }
}